name: Build drupal and playwright image and push it to docker hub

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'
  release:
    types: [published, edited]

jobs:
  # Build and push the Docker image
  push_to_registry:
    name: Build and push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hellosanta/drupal-playwright
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{major}}
            type=sha,
            type=raw,value=8.3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWD }}
      -
        name: Build and push 8.4
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          file: ./8.4/Dockerfile
          tags: hellosanta/drupal-playwright:8.4
      -
        name: Build and push 8.3
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          file: ./8.3/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
